SGI_APP_ENV=development
SGI_APP_DEBUG=0
SGI_APP_URL=http://localhost/SGI/

SGI_DB_HOST=localhost
SGI_DB_PORT=3306
SGI_DB_NAME=sgi
SGI_DB_USER=root
SGI_DB_PASSWORD=

SGI_UPLOAD_DIR=storage/uploads/turmas
SGI_REGULAMENTOS_DIR=storage/uploads/regulamentos
SGI_FOTOS_DIR=storage/uploads/fotos

SGI_TEST_BASE_URL=http://127.0.0.1:8099/
SGI_TEST_DB_NAME=sgi_test
