*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --vermelho: #e30613;
}

nav{
    background-color: var(--vermelho) !important;
}
.btn-danger,.bg-danger{
    background-color: var(--vermelho) !important;
}
.text-danger{
    background-color: var(--vermelho) !important;
}
.form-control{
    animation:  1s;
}

.form-control:focus {
    box-shadow: 0px 0px 7px red;
    border: none;
}