/* Estilos específicos das páginas do portal do aluno. */

body {
    background-color: var(--bs-body-bg);
}

@media (min-width: 768px) {
    body {
        padding-bottom: 0;
    }
}

.header-banner-container {
    max-height: 180px;
    overflow: hidden;
}

.header-banner-img {
    object-fit: cover;
    height: 180px;
}

@media (max-width: 1199.98px) {
    .home-main--with-footer { margin-bottom: 0; }
}
